
body {
    background-color: #101010;
    display:inline;
    
    
}
.icon {
    width: 100%;
}
.navBar {
    margin-top: 40px;
    width: 100%;
    
    margin-bottom:15px;
}
.logotype {
    padding-top: 50px;
}
.textInfo {
    
    color:white;
}

.orgLinks {
    margin-bottom: 150px;
    
}
.adImg {
    width: 100%;
}

.adSquare {
    background-color: #404040;
    padding: 15px;
}
.adRow {
    margin-bottom: 50px;
}

.orgLinks {
    font-size: xx-large;
    background-color: #404040;
    margin-left:8px;
    margin-right:8px;
}

.orgSquare {
    background-color: #c3e059;
    
    padding: 15px;
}