
.urlbar {
    width:100%
}
.navigationbar {
    background-color: #007000;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 100px;
    vertical-align: middle;
}

.buttonImage {
    background-image: url("icons/dot3.png");
}

.webContent {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    margin:0;
    padding: 0;

}

html, body {
    padding: 0;
    height: 100%;
    width: 100%;
}


.fullicon {
    width: fit-content;
}