
body {
    background-color: #101010;

    
    
}
.icon {
    width: 100%;
}
.navBar {
    margin-top: 40px;
    width: 100%;
    
    margin-bottom:15px;
}
.logotype {
    padding-top: 50px;
}
.textInfo {
    color:white;   

}


.adImg {
    width: 100%;
}

.adSquare {
    background-color: #404040;
    padding: 15px;
    color: #f0f0f0;
    text-decoration: none;    
}
.adSquare:visited {
    background-color: #404040;
    padding: 15px;
    color: #f0f0f0;
    text-decoration: none;    
}
.adRow {
    margin-bottom: 50px;
}


.orgLinks {
    margin-bottom: 150px;    
    color: #f0f0f0;
    font-size: xx-large;
    background-color: #404040;
    margin-left:8px;
    margin-right:8px;
}

.orgLinksGreyed {
    margin-bottom: 150px;    
    color: #a0a0a0;
    font-size: xx-large;
    background-color: #404040;
    margin-left:8px;
    margin-right:8px;
}

.orgSquare {
    background-color: #c3e059;
    color: #f0f0f0;
    text-decoration: none;   
    
    padding: 15px;
}
.votebtn {
    height: 100px;
    width: 200px
}